@share__modal__max-width: 384px;
@share__modal__centering: true;
@share__modal__round-corners: true;
@share__modal__border-radius: 12px;
@share__modal__border-color: rgb(228, 228, 231);
@share__modal__box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;


//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //##########################################
    // main modal - layout
    
    .share-modal .modal-inner-wrap {
        
        // max width
        .lib-css(max-width, @share__modal__max-width);

        // real centering
        & when (@share__modal__centering = true) {
            top: 50%;
            transform: translateY(-50%) !important; // 3 overrides :)
            margin: auto auto;
        }
        
        // round corners
        & when (@share__modal__round-corners = true) {
            .lib-css(border-radius, @share__modal__border-radius);
            .lib-css(border, 1px solid @share__modal__border-color);
            .lib-css(box-shadow, @share__modal__box-shadow);
        }
        
    }
    
    // main modal - layout
    //##########################################
}