.share__main-icon(
    @icon__font: @share__icon__font-name;
    @icon__font-size: 16px;
    @icon__line-height: 16px;
    @icon__position: before;
    @icon__color: black;
    @icon__margin: '';
) {
    .lib-icon-font(
        @_icon-font-content: @icon-share,
        @_icon-font: @icon__font,
        @_icon-font-size: @icon__font-size,
        @_icon-font-margin: @icon__margin,
        @_icon-font-line-height: @icon__line-height,
        @_icon-font-color: @icon__color,
        @_icon-font-position: @icon__position
    );
}

.share__icon-close(
    @icon__font: @share__icon__font-name;
    @icon__font-size: 16px;
    @icon__line-height: 16px;
    @icon__position: before;
    @icon__color: black;
    @icon__margin: '';
) {
    .lib-icon-font(
        @_icon-font-content: @icon-close,
        @_icon-font: @icon__font,
        @_icon-font-size: @icon__font-size,
        @_icon-font-margin: @icon__margin,
        @_icon-font-line-height: @icon__line-height,
        @_icon-font-color: @icon__color,
        @_icon-font-position: @icon__position
    );
}

.share__icon-copy(
    @icon__font: @share__icon__font-name;
    @icon__font-size: 16px;
    @icon__line-height: 17px;
    @icon__position: before;
    @icon__color: black;
    @icon__margin: '';
) {
    .lib-icon-font(
        @_icon-font-content: @icon-copy,
        @_icon-font: @icon__font,
        @_icon-font-size: @icon__font-size,
        @_icon-font-margin: @icon__margin,
        @_icon-font-line-height: @icon__line-height,
        @_icon-font-color: @icon__color,
        @_icon-font-position: @icon__position
    );
}

.share__icon-whatsapp(
    @icon__font: @share__icon__font-name;
    @icon__font-size: 16px;
    @icon__line-height: 16px;
    @icon__position: before;
    @icon__color: black;
    @icon__margin: '';
) {
    .lib-icon-font(
        @_icon-font-content: @icon-whatsapp,
        @_icon-font: @icon__font,
        @_icon-font-size: @icon__font-size,
        @_icon-font-margin: @icon__margin,
        @_icon-font-line-height: @icon__line-height,
        @_icon-font-color: @icon__color,
        @_icon-font-position: @icon__position
    );
}

.share__icon-email(
    @icon__font: @share__icon__font-name;
    @icon__font-size: 16px;
    @icon__line-height: 16px;
    @icon__position: before;
    @icon__color: black;
    @icon__margin: '';
) {
    .lib-icon-font(
        @_icon-font-content: @icon-email,
        @_icon-font: @icon__font,
        @_icon-font-size: @icon__font-size,
        @_icon-font-margin: @icon__margin,
        @_icon-font-line-height: @icon__line-height,
        @_icon-font-color: @icon__color,
        @_icon-font-position: @icon__position
    );
}